<h1>All Brands</h1>
<%= link_to 'New brand', new_brand_path %>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Country</th>
    <th colspan="2">Actions</th>
  </tr>
  <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.id %></td>
      <td><%= brand.name %></td>
      <td><%= brand.country %></td>
      <td><%= link_to 'Show', brand_path(brand) %></td>
      <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
      <td><%= link_to 'Destroy', brand_path(brand),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
